// Global variables

// Fonts
$fonts-path: '../fonts/';
$font-a: 'sas';
$font-roboto-slab: 'Roboto Slab';
$font-open-sans: 'Open Sans';

// === Colors ===
$white: #ffffff;
$black: #000000;
$pink: #F93251;
$body: #9B9B9B;

// === Media Queries ===
$phone-width: 480px;
$tablet-portrait-width: 580px;
$tablet-width: 768px;
$desktop-width: 1024px;