@import "../../../assets/styles/variables/global";
@import "../../../assets/styles/mixins/utils";

.projects-grid {
    &_list {
        display: flex;
        flex-wrap: wrap;
    }
    &_item {
      flex-basis: 100%;
    }

    @include desktop {
      &_list {
        margin: 0 -10px;
      }
      &_item {
        flex-basis: 33.3%;
        padding: 0 10px;
      }
    }
}