@import "../../assets/styles/variables/global";
@import "../../assets/styles/mixins/utils";

.hero-intro {
    background-size: auto 600px;
    background-position: -160px 50%;
    height: 720px;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    &_img {
        position: absolute;
        width: 410px;
        height: auto;
        left: 50%;
        margin-left: -205px;
        max-width: inherit;
    }
    &_image {
        width: 100%;
        display: inline-flex;
        @include desktop {
          align-items: center;
        }
    }
    .logo-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex: 1;
      padding-bottom: 100px;

      @include desktop {
        display: none;
      }
    }
    &_mouse {
        position: absolute;
        box-sizing: border-box;
        left: 50%;
        bottom: 50px;
        width: 30px;
        margin-left: -15px;
        height: 48px;
        border-radius: 15px;
        border: 2px solid $white;
        transform: translateZ(0);
        display: none;
        &__wheel {
            position: absolute;
            left: 50%;
            top: 8px;
            margin-left: -2px;
            width: 4px;
            height: 9px;
            background: $pink;
            border-radius: 2px;
            animation: mouse-wheel 1.25s infinite linear;
            transform-origin: 50% 0%;
        }
    }
    &_arrow {
        position: absolute;
        bottom: 50px;
        left: 50%;
        border: 3px solid $white;
        width: 10px;
        height: 10px;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg);
        margin-left: -5px;
        animation: arrow 1s ease-in-out infinite;
    }
    @include tablet {
        height: 100vh;
        &_img {
            width: 500px;
            margin-left: -250px;
        }
    }
    @include desktop {
        &_img {
            width: 100%;
            height: auto;
        }
        &_arrow {
            display: none;
        }
        &_mouse {
            display: block;
            left: inherit;
            right: -60px;
            margin: 0;
        }
    }

    @include desktopLarge {
      &_img {
        margin-top: -180px;
      }
    }
}

@keyframes mouse-wheel {
    0%,to {
        transform: scaleY(.4) translateY(0)
    }

    20% {
        transform: scaleY(1) translateY(0)
    }

    60% {
        transform: scaleY(.4) translateY(12px)
    }
}

@keyframes arrow {
    0%,
    100% {
      transform: rotate(45deg) translate(0, 0);
    }

    50% {
      transform: rotate(45deg) translate(10px, 10px);
    }
  }