@import "../../../assets/styles/variables/global";
@import "../../../assets/styles/mixins/utils";

.experience-item {
    position: relative;
    color: $grayDark;
    margin: 3rem 0;

    &_date {
        color: $grayLight;
        font-size: rem(14);
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 12px;
    }
    &_company {
        font-size: rem(20);
        font-weight: 400;
        text-transform: none;
        line-height: 1.2;
    }
    &_role {
        font-size: rem(18);
        margin: 0.5rem 0;
        color: $pink;
        font-weight: 700;
    }
    &_logo {
        margin: 0.5rem 0;
        img {
            height: 20px;
            filter: brightness(0);
        }
    }
    &_description {
        font-size: rem(16);
        line-height: 1.5;
    }

    @include desktop {
        margin: 4rem 0;
    }
}