@import "../../assets/styles/variables/global";
@import "../../assets/styles/mixins/utils";

.about-block {
    &.content-block {
        margin-top: 50px;
    }
    .logo-container {
        display: none;

        @include desktop {
            display: block;

            .logo {
                margin: 0;
            }
        }
    }

    .content-block__description {
        h3 {
            font-size: rem(26);
            margin: 56px 0;
        }

        @include desktop {
            p {
                font-size: rem(16);
            }

            h3 {
                font-size: rem(28);
            }
        }

        @include desktopLarge {
            p {
                font-size: rem(18);
            }

            h3 {
                font-size: rem(40);
            }
        }
    }

    &_resume {
        text-align: left;
        a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            background-color: $pink;
            padding: 0 18px;
            color: $white;
            font-family: $font-open-sans;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.2s;
            text-decoration: none;
            img {
                display: inline-block;
                vertical-align: middle;
                margin-left: 8px;
            }
        }
        @include desktop {
            text-align: center;
            a {
                padding: 0 195px;
                &:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }
            }
        }
    }

    @include desktop {
        &.content-block {
            margin: -100px 0 0 0;
        }

        .content-block__description {
            *:last-child {
                margin: 0;
            }

            h3 {
                margin-bottom: 0;
            }
        }

    }
}
