@import "../../assets/styles/variables/global";
@import "../../assets/styles/mixins/utils";

#header {
  position: fixed;
  top: 20px;
  right: 20px;
  background: $black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 19px 15px;
  z-index: 1000;
  transition: all 1s;
  &.open {
    z-index: 999999;
  }
  &.hidden {
    transform: translate3d(0, -80px, 0);
    @include desktop {
      transform: translate3d(0, 0, 0);  
    }
  }
}

.open-menu {
    z-index: 4;
    width: 25px;
    overflow: hidden;
    cursor: pointer;
    span {
        display: block;
        height: 2px;
        width: 100%;
        background: $white;
        margin-top: 6px;
        float: right;
        clear: both;
        transition: all 150ms ease-out;
        &:first-child {
            margin-top: 0;
        }
        &:nth-of-type(3) {
            width: 70.53%;
        }
    }
    &:hover {
        span {
            width: 100%;
        }
    }
}