@import '../../../assets/styles/variables/global';
@import '../../../assets/styles/mixins/utils';

.top-block {
  position: relative;
  overflow: hidden;

  .about-container {

    @include desktop {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}